@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1350px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid goldenrod;
  padding: 30px;
  border-radius: 5px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

p {
  font-size: 25px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}



.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.imageDiv {
  width: 100px;
  height: 100px;
  display: flex;

}

/* Resize images */
.imageDiv img {
  width: 100%;
  height: auto;
  margin-right: 30px;
  
}

.react-tooltip-lite {
  background: #333;
  color: white;
  width: 100px;
  height: 100px;
}

.react-tooltip-lite-arrow {
  border-color: #333;
}

.imageDiv2 {
  width: 100px;
  height: 100px;
}

/* Resize images */
.imageDiv2 img {
  width: 100%;
  height: auto;
  
}


footer {
  margin-top: 30px;
  text-align: center;
}

.intro .swal-text {
  background-color: #FEFAE3;
  padding: 18px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 20px;
  font-size: 24px;
  text-align: center;
  color: #61534e;
}

.intro .swal-title {
  
  font-size: 30px;
  font-style: bold;
  text-align: center;
 
}

@media screen and (min-width: 825px) {
  .intro {
    width:825px !important;
  
  }
}


.intro .swal-button {
  background-color: goldenrod;
}

.intro .swal-button:hover {
  background-color: goldenrod;
}

